[submodule "projects/in-progress/projects/in-progress/rock-paper-scissors"]
	path = projects/in-progress/projects/in-progress/rock-paper-scissors
	url = git@github.com:richardtvu/rock-paper-scissors.git
[submodule "projects/in-progress/rock-paper-scissors"]
	path = projects/in-progress/rock-paper-scissors
	url = git@github.com:richardtvu/rock-paper-scissors.git
[submodule "projects/completed-projects/rock-paper-scissors"]
	path = projects/completed-projects/rock-paper-scissors
	url = git@github.com:richardtvu/rock-paper-scissors.git
[submodule "notes/top_notes/notes/top_notes/javascript-exercises"]
	path = notes/top_notes/notes/top_notes/javascript-exercises
	url = git@github.com:TheOdinProject/javascript-exercises.git
[submodule "notes/top_notes/javascript-exercises"]
	path = notes/top_notes/javascript-exercises
	url = git@github.com:TheOdinProject/javascript-exercises.git
[submodule "projects/in-progress/inside-sherpa/JPMC-tech-task-1-py3"]
	path = projects/in-progress/inside-sherpa/JPMC-tech-task-1-py3
	url = https://github.com/insidesherpa/JPMC-tech-task-1-py3.git
