@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');


/* Universal settings */ 
main {
    background: white;

    height: 99vh; 

    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 

    font-family: 'MedievalSharp', cursive, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

