@import url("reset.css");
@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');


/* Universal settings */ 
body {
    background: white;

    height: 99vh; 

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  

    font-family: 'MedievalSharp', cursive, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

/* Center the main content */ 
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 350px;
    padding: 10vh 20vh 40vh 20vh; 
}



/* Position navigation and footer bar  */
nav,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 10px;
}

/* Create navigation boxes from the unordered list items */

li {
    width: 100px;
    text-align: center;
    display: inline;
    padding: 5px;
}

/* Style the linkss */
li a {
    color: #363232;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

/* Style footer bar */ 
footer {
    background: lightgray;  
    padding: 20px; 
}